---
import "../styles/global.css";
import Dock from "../components/Dock.astro";
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Romer-Dev | Experiencia</title>
    </head>
    <Dock site="Experiencia"/>
    <body
        class="bg-gray-900 text-gray-100 w-full h-full "
    >
        <div>
            <h1 class="text-3xl font-bold underline text-gray-100">
                Experiencia
            </h1>
        </div>
        <div>
            <h2 class="text-gray-100 font-bold text-2xl">Evolve Interactive</h2>
            <h3 class="text-gray-100">
                Desarrollador Backend y Automatización de Datos
            </h3>
            <h4 class="text-gray-100">Abril 2023 – Julio 2025</h4>
            <p class="text-gray-100">
                <ul></ul>
                <li>
                    Especialización en desarrollo backend y automatización con
                    robots de web scraping para la recolección y gestión de
                    datos.
                </li>
                <li>
                    Diseño, desarrollo y mejora de APIs para distintos clientes.
                </li>
                <li>
                    Optimización y mantenimiento de procesos automatizados
                    existentes.
                </li>
                <li>
                    Implementación de servicios en AWS como S3 para manejo y
                    almacenamiento de información.
                </li>
                <li>
                    Desarrollo de soluciones personalizadas para automatizar
                    procesos empresariales.
                </li>
                <li>Mantenimiento y mejoras para sitios webs</li>
            </p>
        </div>

        <div>
            <h3 class="text-gray-100 font-bold text-2xl">Accesa</h3>
            <h4 class="text-gray-100">Agosto 2021 – Marzo 2023</h4>
            <p class="text-gray-100">
                <ul></ul>
                <li>
                    Desarrollo completo de soluciones IoT: desde hardware hasta
                    software.
                </li>
                <li>
                    Proyecto de localización y conteo de autobuses: diseño e
                    implementación del sistema completo.
                </li>
                <li>
                    Proyecto de domótica: actualización de hardware y software,
                    e integración de nuevas funcionalidades.
                </li>
                <li>
                    Proyecto de estacionamientos: mantenimiento y mejora de
                    sistema de control de parking.
                </li>
                <li>
                    Participación en todas las fases del desarrollo: planeación,
                    implementación, instalación y soporte técnico a clientes.
                </li>
            </p>
        </div>

        <div>
            <h3 class="text-gray-100 font-bold text-2xl">
                Laboratorio SLED – Facultad de Ciencias de la Electrónica (FCE)
            </h3>
            <h4 class="text-gray-100">Agosto 2019 – Enero 2021</h4>
            <p class="text-gray-100">
                <ul></ul>
                <li>
                    Investigación y desarrollo de una lámpara inteligente desde
                    cero.
                </li>
                <li>
                    Selección, ensamblado y programación de componentes
                    electrónicos para crear un dispositivo IoT funcional.
                </li>
                <li>
                    Participación activa en procesos de I+D con enfoque en
                    automatización y conectividad.
                </li>
            </p>
        </div>
    </body>
</html>
