---
import '../styles/global.css';
import Dock from '../components/Dock.astro';
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Romer-Dev | Habilidades</title>
    </head>
    <Dock site="Habilidades"/>
    <body class="bg-gray-900 text-gray-100">
        <h1 class="text-3xl font-bold underline text-blue-600">Habilidades</h1>
        <h2 class="text-gray-100 font-bold text-2xl">Habilidades Técnicas</h2>

        <p class="text-gray-100">
            <ul></ul>
                <li>Lenguajes de programación: JavaScript (Node.js, React.js), Python, C++, MATLAB</li>
                <li>Frontend: HTML, CSS, React.js, Tailwind CSS, Astro</li>
                <li>Backend y Bases de datos: Node.js, SQL, MySQL, MongoDB</li>
                <li>Desarrollo de hardware: C++, Python, Ensamblador</li>
                <li>Microcontroladores y tarjetas: ESP32, ESP8266, Raspberry Pi, versiones de PIC</li>
                <li>Control de versiones: Git, GitHub</li>
                <li>Herramientas: Línea de comandos (CMD), entornos de desarrollo integrados</li>
                <li>Adaptabilidad: Alta capacidad de aprendizaje y adaptación a nuevas tecnologías y lenguajes</li>
            </ul>
    </body>
</html>