---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Dock from "../components/Dock.astro";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Romer-Dev</title>
	</head>
	<Dock site="Inicio"/>
	<body class="bg-animated w-screen h-screen">
		<main class="flex justify-center items-center max-w-8/12 min-h-8/12 m-auto ">
			<section class="flex justify-center items-center m-auto ">
				<div class="card-glassmorphism">
					<h1 class="text-4xl font-bold">Romer-Dev</h1>
					<p class="text-xl">Desarrollador Web</p>
				</div>
			</section>
		</main>
	</body>
</html>
