---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro cambio</title>
	</head>
	<body>
		<h1 class="text-3xl font-bold underline text-blue-600">Pagina de inicio</h1>
		<p class="mt-4 text-gray-600">¡Tailwind CSS está funcionando correctamente!</p>
	</body>
</html>
