---
import '../styles/global.css';
const page = Astro.params.page;
// const isActive = (path) => page === path ? 'border-b-2 border-white' : '';
---

<!-- <header class="flex justify-center items-center bg-black py-4 px-4">
    <a href="/" class="text-white text-xl font-bold hover:text-gray-300 mx-4">Inicio</a>
    <a href="/experiencia" class="text-white text-xl font-bold hover:text-gray-300 mx-4">Experiencia</a>
    <a href="/habilidades" class="text-white text-xl font-bold hover:text-gray-300 mx-4">Habilidades</a>
    <a href="/proyectos" class="text-white text-xl font-bold hover:text-gray-300 mx-4">Proyectos</a>
    <a href="/contacto" class="text-white text-xl font-bold hover:text-gray-300 mx-4">Contacto</a>
</header>  -->


